body{font-family: sans-serif;background: url(http://images.wikia.com/adventuretimewithfinnandjake/images/3/3a/S1e1_flip_out.png)repeat top right;}
h1{color: red;}
.active{
	border: 5px black solid;
}
p{margin: 20px;}